
<div class="main-container">
    <div class="main-stepper__wrapper-trigger">
        <button class="main-stepper__wrapper-trigger--button"></button>
    </div>
    <div class="main-headline">HEADLINE</div>
    <div class="main-3dscene">
        <app-visualization class="main-3dscene__visualisation"></app-visualization>
    </div>
    <div class="main-results">
        <app-construction-results></app-construction-results>
    </div>
    <div class="main-options">OPTIONS</div>
    <div class="main-stepper">
        <app-construction-settings class="main-stepper___construction-settings"></app-construction-settings>
    </div>
</div>